
.yui3-widget-pointer-up, 
.yui3-widget-pointer-down, 
.yui3-widget-pointer-right,
.yui3-widget-pointer-left {
    width: 0;
    height: 0;
    border: 5px solid transparent;
}

.yui3-widget-pointer-up {
    border-bottom-color: black;
    bottom: 0;
    top: 0;
    left: 50%;
    margin-left: -5px;
}

.yui3-widget-pointer-down {
    border-top-color: black;
    top: 0;
    left: 50%;
    margin-left: -5px;
}

.yui3-widget-pointer-right {
    border-left-color: black;
    top: 50%;
    left: 0;
    margin-left: -5px;
    margin-top:-3px;
}

.yui3-widget-pointer-left {
    border-right-color: black;
    right: 0;
    top: 50%;
    margin-right: -5px;
    margin-top: -3px;
}

